:root {
    --header-height: 4.5rem;
  
    /* colors */
    --hue: 279;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0 0% 98%);
  
}
.picture{
    width: 110px;
    height: 70px;
   margin:0 25px;
}

header {
   border-bottom: 1px solid #e4e4e4;
   display: flex;
   flex-direction: row;
   top: 0;
   left: 0;
   z-index: 100;
   width: 100%;
   gap: 53rem;
}


header nav {
    height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}
nav ul{
    display: flex;
    flex-direction: row;
}
nav ul li a{
    transition: color 0.2s;
    position: relative;
}
nav ul li a:hover,
nav ul li a.active {
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}
header nav a {
    color: #0f0e0e;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 400;
    
}

ul{
    list-style-type: none;
    display: grid;
    gap: 50rem;
}


/*Agora as Secçõees*/
main {
    margin: 20px 0;
    max-width: 1010px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: .8rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   
}
h3{
    text-align: center;
    color: #32405a;
    font-size: 24px;
}

h2 {
    margin-bottom: 20px;
    color: #32405a;
    font-size: 24px;
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
}


form input, form textarea, form button, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    background: #32405a;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s;
}

form button:hover {
    background: #0056b3;
    transform: scale(1.05);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    overflow: hidden;
}
.rolagem{
    max-height: 400px; /* Ajuste a altura máxima de acordo com a sua necessidade */
    overflow-y: auto;
    overflow-x: auto;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
table th{
    text-align: center;
    
}

table th {
    background: #32405a;
    color: #fff;
    font-size: 18px;

}

table td {
    font-size: 16px;
}

table tr:nth-child(even) {
    background: #f9f9f9;
}

table tr:hover {
    background: #f1f1f1;
    transition: background 0.3s;
}

/* Animação simples para feedback visual */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

main, header, footer {
    animation: fadeIn 0.5s ease;
}



